---
http_interactions:
- request:
    method: get
    uri: http://api.madmimi.com/promotions.xml
    body:
      encoding: US-ASCII
      string: username=test%40example.com&api_key=TEST_API_KEY
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"17f98e3219868c084f3467f823881e3d"
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<promotions>\n<promotion
        name=\"API test\" id=\"5510034\" mimio=\"293145\" updated_at=\"2014-09-05
        16:20:42 -0300\" hidden=\"false\" thumbnail=\"https://snaps.madmimi.com/v2/thumbs.php?size=b&amp;wait=120&amp;url=https%3A%2F%2Fmadmimi.com%2Fp%2F293145\">\n
        \ <mailing id=\"122026332\" subject=\"API test\" count=\"1\">\n    <started_send>2014-09-05
        16:26:32 -0300</started_send>\n    <finished_send>2014-09-05 16:26:34 -0300</finished_send>\n
        \ </mailing>\n</promotion>\n</promotions>\n"
  recorded_at: Sun, 07 Sep 2014 20:52:08 GMT
recorded_with: VCR 2.9.2
