---
http_interactions:
- request:
    method: get
    uri: http://api.madmimi.com/audience_members/search.xml
    body:
      encoding: US-ASCII
      string: username=test%40example.com&api_key=TEST_API_KEY&raw=true&query=test
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"40b71d703a49aa091853678b1cb75425"
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<audience>\n  <member
        suppressed=\"true\">\n    <first_name/>\n    <last_name/>\n    <email>test@example.com</email>\n
        \   <created_at>2014-09-07 22:59:46 +0300</created_at>\n    <city/>\n    <phone/>\n
        \   <company/>\n    <title/>\n    <address/>\n    <state/>\n    <zip/>\n    <country/>\n
        \   <confirmed/>\n    <custom_field_1/>\n    <custom_value/>\n    <custom_value_1/>\n
        \   <custom_value_2/>\n    <lists>\n    </lists>\n  </member>\n  <member suppressed=\"false\">\n
        \   <first_name>test2</first_name>\n    <last_name>csv2</last_name>\n    <email>csv_test2@example.com</email>\n
        \   <created_at>2014-09-07 19:32:52 +0300</created_at>\n    <city/>\n    <phone/>\n
        \   <company/>\n    <title/>\n    <address/>\n    <state/>\n    <zip/>\n    <country/>\n
        \   <confirmed/>\n    <custom_field_1/>\n    <custom_value/>\n    <custom_value_1/>\n
        \   <custom_value_2/>\n    <lists>\n    </lists>\n  </member>\n  <member suppressed=\"false\">\n
        \   <first_name>test</first_name>\n    <last_name>csv</last_name>\n    <email>csv_test@example.com</email>\n
        \   <created_at>2014-09-07 19:32:52 +0300</created_at>\n    <city/>\n    <phone/>\n
        \   <company/>\n    <title/>\n    <address/>\n    <state/>\n    <zip/>\n    <country/>\n
        \   <confirmed/>\n    <custom_field_1/>\n    <custom_value/>\n    <custom_value_1/>\n
        \   <custom_value_2/>\n    <lists>\n    </lists>\n  </member>\n  <member suppressed=\"false\">\n
        \   <first_name/>\n    <last_name/>\n    <email>new_test2@example.com</email>\n
        \   <created_at>2014-09-05 21:11:24 +0300</created_at>\n    <city/>\n    <phone/>\n
        \   <company>Dummy Company</company>\n    <title/>\n    <address/>\n    <state/>\n
        \   <zip/>\n    <country/>\n    <confirmed/>\n    <custom_field_1/>\n    <custom_value/>\n
        \   <custom_value_1/>\n    <custom_value_2/>\n    <lists>\n    </lists>\n
        \ </member>\n  <member suppressed=\"false\">\n    <first_name>New</first_name>\n
        \   <last_name>Test</last_name>\n    <email>new_test@example.com</email>\n
        \   <created_at>2014-09-05 21:10:19 +0300</created_at>\n    <city/>\n    <phone/>\n
        \   <company/>\n    <title/>\n    <address/>\n    <state/>\n    <zip/>\n    <country/>\n
        \   <confirmed/>\n    <custom_field_1/>\n    <custom_value/>\n    <custom_value_1/>\n
        \   <custom_value_2/>\n    <lists>\n    </lists>\n  </member>\n  <member suppressed=\"true\">\n
        \   <first_name/>\n    <last_name/>\n    <email>new_test1@example.com</email>\n
        \   <created_at>2014-09-04 21:32:31 +0300</created_at>\n    <city/>\n    <phone/>\n
        \   <company/>\n    <title/>\n    <address/>\n    <state/>\n    <zip/>\n    <country/>\n
        \   <confirmed/>\n    <custom_field_1/>\n    <custom_value/>\n    <custom_value_1/>\n
        \   <custom_value_2/>\n    <lists>\n      <list>list 1</list>\n      <list>list
        2</list>\n    </lists>\n  </member>\n</audience>\n"
  recorded_at: Sun, 07 Sep 2014 20:05:11 GMT
recorded_with: VCR 2.9.2
