---
http_interactions:
- request:
    method: get
    uri: http://api.madmimi.com/audience_lists/list%201/members.xml
    body:
      encoding: US-ASCII
      string: username=test%40example.com&api_key=TEST_API_KEY
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"85782029598d8f6e9168a795fc0f4d58"
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<audience count=\"2\"
        total_pages=\"1\" per_page=\"30\" page=\"1\">\n  <member suppressed=\"false\">\n
        \   <first_name/>\n    <last_name/>\n    <email>another@example.com</email>\n
        \   <created_at>2014-09-07 22:14:29 +0300</created_at>\n    <city/>\n    <phone/>\n
        \   <company/>\n    <title/>\n    <address/>\n    <state/>\n    <zip/>\n    <country/>\n
        \   <confirmed/>\n    <custom_field_1/>\n    <custom_value/>\n    <custom_value_1/>\n
        \   <custom_value_2/>\n    <lists>\n      <list membership_created_at=\"2014-09-07
        19:14:29 UTC\">list 1</list>\n    </lists>\n  </member>\n  <member suppressed=\"false\">\n
        \   <first_name/>\n    <last_name/>\n    <email>new_test1@example.com</email>\n
        \   <created_at>2014-09-04 21:32:31 +0300</created_at>\n    <city/>\n    <phone/>\n
        \   <company/>\n    <title/>\n    <address/>\n    <state/>\n    <zip/>\n    <country/>\n
        \   <confirmed/>\n    <custom_field_1/>\n    <custom_value/>\n    <custom_value_1/>\n
        \   <custom_value_2/>\n    <lists>\n      <list membership_created_at=\"2014-09-04
        18:32:31 UTC\">list 1</list>\n      <list membership_created_at=\"2014-09-04
        18:32:45 UTC\">list 2</list>\n    </lists>\n  </member>\n</audience>\n"
  recorded_at: Sun, 07 Sep 2014 19:15:18 GMT
recorded_with: VCR 2.9.2
