---
http_interactions:
- request:
    method: get
    uri: http://api.madmimi.com/audience_members/test@example.com/is_suppressed
    body:
      encoding: US-ASCII
      string: username=test%40example.com&api_key=TEST_API_KEY
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
      Etag:
      - W/"b326b5062b2f0e69046810717534cb09"
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: 'true'
  recorded_at: Sun, 07 Sep 2014 19:34:42 GMT
- request:
    method: delete
    uri: http://api.madmimi.com/suppressed_audience_members/test@example.com
    body:
      encoding: US-ASCII
      string: username=test%40example.com&api_key=TEST_API_KEY
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"9ba368baedac64bd9f8b7dff7260c72e"'
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"result":{"id":7130012110,"email":"test@example.com","name":"","first_name":"","last_name":"","suppressed":false,"recent_signup?":false,"suppression_reason":"","suppression_reason_class":"sent","external_id":null,"special_list_member":false,"lists":[],"list_removals":[],"list_unsuppressions":[],"list_additions":[]}}'
  recorded_at: Sun, 07 Sep 2014 19:34:43 GMT
recorded_with: VCR 2.9.2
