---
http_interactions:
- request:
    method: get
    uri: http://api.madmimi.com/audience_members.xml
    body:
      encoding: US-ASCII
      string: username=test%40example.com&api_key=TEST_API_KEY
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"378d1371a6f41862e8d2b7d244ee8dd4"
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<audience count=\"16\"
        total_pages=\"1\" per_page=\"30\" page=\"1\">\n  <member suppressed=\"false\">\n
        \   <first_name></first_name>\n    <last_name></last_name>\n    <email>add_to_list@example.com</email>\n
        \   <created_at>2014-09-05 21:12:22 +0300</created_at>\n    <city></city>\n
        \   <phone></phone>\n    <company></company>\n    <title></title>\n    <address></address>\n
        \   <state></state>\n    <zip></zip>\n    <country></country>\n    <confirmed/>\n
        \   <custom_field_1/>\n    <lists>\n    </lists>\n  </member>\n  <member suppressed=\"false\">\n
        \   <first_name/>\n    <last_name/>\n    <email>maksim.gladkov@gmail.com</email>\n
        \   <created_at>2014-09-05 22:25:20 +0300</created_at>\n    <city/>\n    <phone/>\n
        \   <company/>\n    <title/>\n    <address/>\n    <state/>\n    <zip/>\n    <country/>\n
        \   <confirmed/>\n    <custom_field_1/>\n    <lists>\n    </lists>\n  </member>\n
        \ <member suppressed=\"false\">\n    <first_name/>\n    <la[...]
