---
http_interactions:
- request:
    method: get
    uri: http://api.madmimi.com/promotions/5510034/mailings/122026332.xml
    body:
      encoding: US-ASCII
      string: username=test%40example.com&api_key=TEST_API_KEY
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"49ee16fa995035d80a3fe660d4bc46bd"
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<mailing all_audience=\"false\">\n
        \ <sent>1</sent>\n  <views>0</views>\n  <untraced>1</untraced>\n  <clicked>0</clicked>\n
        \ <links>\n  </links>\n  <forwarded>0</forwarded>\n  <bounced>0</bounced>\n
        \ <unsubscribed>0</unsubscribed>\n  <abused>0</abused>\n</mailing>\n"
  recorded_at: Mon, 08 Sep 2014 06:27:01 GMT
recorded_with: VCR 2.9.2
