---
http_interactions:
- request:
    method: post
    uri: http://api.madmimi.com/audience_lists.json
    body:
      encoding: US-ASCII
      string: username=test%40example.com&api_key=TEST_API_KEY&name=new%20list%201
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"6cb78cd6f987ee9d292ec1fce5a37097"'
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"result":{"id":1167134,"name":"new list 1","size":0}}'
  recorded_at: Sun, 07 Sep 2014 15:39:03 GMT
recorded_with: VCR 2.9.2
